{% extends "base.html" %}
{% load django_bootstrap5 i18n static bootstrap_icons %}

{% block bootstrap5_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'word/css/word.css' %}">
{% endblock %}

{% block bootstrap5_extra_script %}
    {{ block.super }}
{% endblock %}

{% block page_title %}{% trans 'Translate' %}{% endblock %}

{% block content %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
    {% for word in word_list %}
    <div class="col">
        <input type="checkbox" id="card-{{ word.id }}"/>
        <label class="card-container" for='card-{{ word.id }}'>
            <a href="{% url 'word:update' word.id %}" target="_blank"
               class="btn btn-sm btn-link btn-edit" id='card-{{ word.id }}'>
                {% bs_icon 'pencil-square' %}
            </a>
            <div class="card-flip">
                <!-- Card Front -->
                <div class="card front">
                    <div class="card-text mt-4">
                        <p class="large mt-2">{{ word }}</p>
                    </div>
                </div>
                <!-- End Card Front -->

                <!-- Card Back -->
                <div class="card back">
                    <div class="card-text mt-2">
                        <p class="small">{{ word }}</p>
                        <p class="large">{{ word.translation }}</p>
                    </div>
                </div>
                <!-- End Card Back -->
            </div>
        </label>
    </div>
    <!-- End Card -->
    {% endfor %}
</div>
{% endblock %}
