{% extends "base.html" %}
{% load django_bootstrap5 i18n static bootstrap_icons %}

{% block bootstrap5_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'word/css/word.css' %}">
{% endblock %}

{% block bootstrap5_extra_script %}
    {{ block.super }}
    <script>let csrf_token = "{{ csrf_token }}"</script>;
    <script src="{% static 'word/js/update.js' %}"></script>
{% endblock %}

{% block page_title %}{% trans 'Query word' %}{% endblock %}

{% block content %}
{% include 'word/word_modal_form.html' %}

<form role="form" method="post" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-6">
            {% bootstrap_field form.query_string layout='floating' %}
        </div>
        <div class="col-12 col-md-6">
            {% bootstrap_field form.language layout='floating' %}
        </div>
    </div>

    <div class="row mt-1 mb-3">
        <div class="col-12">
            <table class="table table-sm table-bordered">
                <tbody>
                {% for word in results %}
                    <tr>
                        <td><span class="source-{{ word.id }}">{{ word.source }}</span></td>
                        <td><span class="translation-{{ word.id }}">{{ word.translation }}</span></td>
                        <td>
                            <button class="btn btn-sm btn-edit" id='edit-{{ word.id }}' type="button"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-id="{{ word.id }}"
                                    data-bs-title='{% trans 'Update word' %}'>
                               {% bs_icon 'pencil-square' %}
                            </button>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td>{% trans 'No results' %}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <button class="btn btn-primary" type="submit" title="{% trans 'Search' %}">
                {% bs_icon 'search' %}
            </button>
            <a href="{% url 'home' %}" class="btn btn-secondary" trans="{% trans 'Cancel' %}">
                {% bs_icon 'x-lg' %}
            </a>
        </div>
    </div>
</form>
{% endblock %}