{% extends "base.html" %}
{% load django_bootstrap5 i18n static bootstrap_icons %}

{% block bootstrap5_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'word/css/word.css' %}">
{% endblock %}

{% block bootstrap5_extra_script %}
    {{ block.super }}
{% endblock %}

{% block page_title %}{% trans 'Query word' %}{% endblock %}

{% block content %}
<form role="form" method="post" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-6">
            {% bootstrap_field form.query_string layout='floating' %}
        </div>
        <div class="col-12 col-md-6">
            {% bootstrap_field form.language layout='floating' %}
        </div>
    </div>

    <div class="row mt-1 mb-3">
        <div class="col-12">
            <table class="table table-sm table-bordered">
                <tbody>
                {% for word in results %}
                    <tr>
                        <td>{{ word.source }}</td>
                        <td>{{ word.translation }}</td>
                    </tr>
                {% empty %}
                    <tr><td>{% trans 'No results' %}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <button class="btn btn-primary" type="submit" title="{% trans 'Search' %}">
                {% bs_icon 'search' %}
            </button>
            <a href="{% url 'home' %}" class="btn btn-secondary" trans="{% trans 'Cancel' %}">
                {% bs_icon 'x-lg' %}
            </a>
        </div>
    </div>
</form>
{% endblock %}