[tool.ruff]
line-length = 120

[tool.ruff.lint]
# Enable flake8-bugbear (`B`) rules.
select = [
    "AIR",
    "ERA",
    "FAST",
    "YTT",
#    "ANN",
    "ASYNC",
    "S",
    "BLE",
    "FBT",
    "B",
    "A",
    "COM",
    "C4",
#    "CPY",
    "DTZ",
    "T10",
    "DJ",
    "EM",
    "EXE",
    "FIX",
    "FA",
    "INT",
    "ISC",
    "ICN",
    "LOG",
    "G",
    "INP",
    "PIE",
    "T20",
    "PYI",
    "PT",
#    "Q",
    "RSE",
    "RET",
    "SLF",
    "SIM",
    "SLOT",
    "TID",
    "TD",
    "TC",
    "ARG",
    "PTH",
    "FLY",
    "I",
    "C90",
    "PD",
    "N",
    "PERF",
    "E",
    "W",
#    "DOC",   # pydoclint
#    "D",     # pydocstyle
    "F",
    "PGH",
    "PL",
    "UP",
    "FURB",
    "TRY",
    "RUF",
]

ignore = [
    "ARG001", # Missing type annotation for self in method
    "ARG002", # Missing type annotation for cls in classmethod
    "B905",    # `zip()` without an explicit `strict=` parameter
    "PT009",   # Use a regular `assert` instead of unittest-style `{assertion}`
    "S308",    # Use of `mark_safe` may expose cross-site scripting vulnerabilities
    "PLR2004", # magic-value-comparison
    "N813",    # Camelcase `BeautifulSoup` imported as lowercase `bs`
    "PLR0912", # Too many branches
    "PLR0915", # Too many statements
    "RUF012",  # Mutable class attributes should be annotated with `typing.ClassVar`
]

# Ignore `E501` (line length) in all `__init__.py`  and migration files
[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["E501"]
"**/migrations/*.py" = ["E501"]

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "trainer.settings"
# -- recommended but optional:
python_files = "tests.py"

[tool.coverage.run]
omit = [
    "./manage.py",
    "**/*migrations*/*",
    "trainer/wsgi.py",
    "trainer/asgi.py",
    "trainer/settings.py",
]

[tool.django-stubs]
django_settings_module = "trainer.settings"
