{% extends "base.html" %}
{% load django_bootstrap5 i18n static bootstrap_icons lang_flag_tags %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{% endblock %}

{% block page_title %}{% trans 'Vocabulary Trainer' %}{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-12 text-center">
        <h2>{% trans 'Welcome to your vocabulary trainer' %}</h2>

        <div class="row mt-3">
            <div class="col-12">
                <a href="{% url 'word:reverse' %}" class="btn btn-lg btn-secondary" type="button">
                    {% lang_flag user.profile.language %}
                    {% bs_icon 'arrow-right' %}
                    {% lang_flag user.profile.learn %}
                </a>
            </div>
        </div>
        <div class="row mt-3 mb-4">
            <div class="col-12">
                <a href="{% url 'word:list' %}" class="btn btn-lg btn-secondary" type="button">
                    {% lang_flag user.profile.learn %}
                    {% bs_icon 'arrow-right' %}
                    {% lang_flag user.profile.language %}
                </a>
            </div>
        </div>
        <h3>{% trans 'Word Pairs' %}</h3>
        <div class="row mt-3">
            <div class="col-12">
                <a href="{% url 'word:pairs_reverse' %}" class="btn btn-lg btn-secondary" type="button">
                    {% lang_flag user.profile.language %}
                    {% bs_icon 'arrow-right' %}
                    {% lang_flag user.profile.learn %}
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <a href="{% url 'word:pairs' %}" class="btn btn-lg btn-secondary" type="button">
                    {% lang_flag user.profile.learn %}
                    {% bs_icon 'arrow-right' %}
                    {% lang_flag user.profile.language %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
